/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

/* Typo */
body {
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    text-align: center;
}

#logo-img {
    width: 400px;
    padding-top: 50px;
    padding-bottom: 30px;

}

#todo-txt {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin-right: 20px;
}
 
#todo-btn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

/* Main */
#main {
    margin: auto;
    width: 60%;
    margin-top: 40px;
    background-color: rgba(59, 59, 59, 0.041);
    border-radius: 10px;
    padding: 30px 50px;
}

#main li {
    line-height: 2.4rem;
    border-bottom: 1px solid rgb(194, 194, 194);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main ul {
    list-style: none;
}

main ul li .fa-times {
    cursor: pointer;
}

